<footer>
<center>
<p class="credits copywrite text-muted">
Except where otherwise noted, content on this site is licensed under a <a href=https://creativecommons.org/licenses/by/4.0/>Creative Commons Attribution 4.0 International license</a>
<img src=https://licensebuttons.net/l/by/3.0/88x31.png alt="CC BY 4.0"/>
</p>
<p class="credits text-muted">
This site is hosted on <a href=https://about.gitlab.com/product/pages>Gitlab Pages</a>.
<a href=https://gitlab.com/ksunden/website>Link to repository.</a>
Issues with the site can be reported to <a href=https://gitlab.com/ksunden/website/issues>my issue tracker.</a>
</p>
</center>
</footer>
